# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Data files (optional if you don’t want to push big datasets)
data/*.csv
data/*.xlsx

# VS Code settings
.vscode/

# Virtual environment
venv/
